wscliente/PersonaService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicio.mycompany.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PersonaServiceImplService" targetNamespace="http://servicio.mycompany.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://servicio.mycompany.com/" version="1.0">
<xs:element name="consultarPersona" type="tns:consultarPersona"/>
<xs:element name="consultarPersonaResponse" type="tns:consultarPersonaResponse"/>
<xs:complexType name="consultarPersona">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoPersona" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="consultarPersonaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:persona"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="persona">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellidoMaterno" type="xs:string"/>
      <xs:element minOccurs="0" name="apellidoPaterno" type="xs:string"/>
      <xs:element minOccurs="0" name="direccion" type="xs:string"/>
      <xs:element minOccurs="0" name="dni" type="xs:string"/>
      <xs:element minOccurs="0" name="documentoIdentidad" type="xs:string"/>
      <xs:element minOccurs="0" name="nombre" type="xs:string"/>
      <xs:element minOccurs="0" name="telefono" type="xs:string"/>
      <xs:element minOccurs="0" name="tipoPersona" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="consultarPersona">
    <wsdl:part element="tns:consultarPersona" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarPersonaResponse">
    <wsdl:part element="tns:consultarPersonaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PersonaService">
    <wsdl:operation name="consultarPersona">
      <wsdl:input message="tns:consultarPersona" name="consultarPersona">
    </wsdl:input>
      <wsdl:output message="tns:consultarPersonaResponse" name="consultarPersonaResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PersonaServiceImplServiceSoapBinding" type="tns:PersonaService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="consultarPersona">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="consultarPersona">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="consultarPersonaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PersonaServiceImplService">
    <wsdl:port binding="tns:PersonaServiceImplServiceSoapBinding" name="PersonaServiceImplPort">
      <soap:address location="http://localhost:8086/wspersona/PersonaService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
